[Unit]
Description=Wire mesh daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wire start -c /etc/wire/wire.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
User=wire
Group=wire
Environment=WIRE_SECRET=

[Install]
WantedBy=multi-user.target
